@import '24hr-deals-app/src/styles.css';

.button-container {
  display: flex;
  justify-content: flex-end;

  button{
    margin-right: 16px;
  }
}

.total-price{
  display: flex;
  justify-content: flex-end;
  margin-right: 16px;
}
